body{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: skyblue;*/
    background-image: url("../images/cd2.jpeg");
}

.container{

    border: 5px solid black;
    background-color: burlywood;
    padding: 20px;
}

#game-logo{
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
    background-color: burlywood;
    color: black;
    border: 3px solid black;
}

.button{
    color: crimson;
    border: 1px solid black;
}

.question{
    font-weight: bold;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: burlywood;
}